* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* product */

.container {
  padding-top: 20px;
  max-width: 1560px;
  margin: auto;
}
.product-top {
  margin-bottom: 30px;
  display: flex;
}
.product-top p {
  margin: 0 12px;
  font-size: 12px;
  color: #848484;
}
.product-top p:hover {
  color: black;
  cursor: pointer;
}
.product-top span {
  color: #848484;
}
.product-content-left {
  width: 50%;
  display: flex;
}
.product-content {
  display: flex;
}
.product-content-left-small-image {
  width: 20%;
  padding-right: 20px;
}
.product-content-left-small-image img {
  width: 100%;
}

.product-content-left-big-image {
  width: 80%;
}
.product-content-left-big-image img {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.product-content-right {
  width: 50%;
  padding-left: 60px;
}
.product-content-right-name h1 {
  font-size: 30px;
}
.product-content-right-name p {
  color: #cccccc;
  font-size: 12px;
}
.product-content-right-price {
  margin: 12px 0;
  font-size: 20px;
  font-weight: bold;
}
.product-content-right-price .original-price {
  text-decoration: line-through;
  color: #ff0000;
  font-weight: 100;
  font-size: 12px;
}
.product-content-right-price .discounted-price {
  margin-left: 20px;
}
.product-content-right-color img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid #333;
}
.product-content-right-size .size {
  border: 1px solid #ceced2;
  padding: 3px 6px;
  margin-left: 12px;
}
.product-content-right-size {
  margin-top: 30px;
}
.product-content-right-material .material {
  border: 1px solid #ceced2;
  padding: 3px 6px;
  margin-left: 12px;
}
.product-content-right-material {
  margin-top: 30px;
}

.product-content-right-quantity {
  height: 40px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin-top: 30px;
  border-radius: 10px;
  border: 2px solid black;
}
.product-content-right-quantity span {
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}
.product-content-right-quantity span.number {
  font-size: 20px;
  border-right: 2px solid rgb(0, 0, 0);
  border-left: 2px solid rgb(0, 0, 0);
}
.product-content-right-button button {
  width: 150px;
  height: 40px;
  transition: all 0.3s ease;
}
.product-content-right-button button:first-child {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ffff;
  border: 2px solid black;
  cursor: pointer;
  font-weight: bold;
}

.product-content-right-button button:last-child {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: gold;
  border: 2px solid gold;
  cursor: pointer;
  font-weight: bold;
  margin-left: 30px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.product-content-right-button {
  display: flex;
  margin-top: 30px;
}
.product-content-right-button button:first-child:hover {
  background-color: black;
  color: white;
}
.product-content-right-button button:last-child:hover {
  background-color: black;
  color: white;
  border: black;
}
/* related products */
.related-products {
  padding-bottom: 200px;
  padding-top: 200px;
  background-color: rgb(234, 234, 234);
}
.product-title p {
  margin-bottom: 50px;
  font-size: 20px;
  font-weight: bold;
  color: #333;
  text-align: center;
}
.related-products-content {
  display: flex;
  max-width: 1560px;
  margin: auto;
}
.product-related-item {
  width: 25%;
  text-align: center;
  margin: 0 12px;
  background-color: white;
}
.product-related-item img {
  width: 100%;
}
.product-related-item h1 {
  font-size: 20px;
  color: #333;
  margin-top: 6px;
}
.product-related-item .pri-bottom {
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 15px;
}
.product-related-item .pri-reduce-price {
  font-size: 15px;
  margin-left: 6px;
  text-decoration: line-through;
  margin-left: 5px;
}
/* header */
header {
  padding-left: 40px;
  padding-right: 40px;
  background: black;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}
.header-wrapper {
  max-width: 1560px;
  margin: auto;
}
.header-top-customer {
  display: flex;
  align-items: center;
}
.header-top-customer a {
  text-decoration: none;
  margin-left: 30px;
  color: #cccccc;
  font-size: 14px;
}
.header-top-customer a:hover {
  color: white;
}
.header-top-customer p {
  color: rgb(255, 48, 48);
  font-size: 14px;
}
.header-top {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.257);
  padding-top: 5px;
  padding-bottom: 5px;
}
.header-top-login button:first-child {
  margin-right: 15px;
}
.header-top-login button {
  width: 75px;
  height: 25px;
  background-color: rgb(39, 39, 39);
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: rgba(255, 255, 255, 0.724) 0px 1px 4px;
  transition: all 0.3s ease;
}
.header-top-login button:first-child:hover {
  background-color: gold;
  color: black;
  border: 1px solid gold;
}
.header-top-login button:last-child:hover {
  background-color: gold;
  color: black;
  border: 1px gold;
}

.header-bottom {
  display: flex;
  max-width: 1560px;
  margin: auto;
  width: 100%;
}
.header-bottom-toggle {
  align-items: center;
  display: flex;
  width: 5%;
}
.header-bottom-toggle i {
  color: white;
  font-size: 30px;
}
.header-bottom-logo {
  width: 4%;
}
.header-bottom-logo img {
  width: 100%;
}
.header-bottom-nvbar {
  display: flex;
  align-items: center;
  width: 85%;
  justify-content: space-evenly;
}
.header-bottom-nvbar ul {
  display: flex;
  text-align: center;
  justify-content: center;
}
.header-bottom-nvbar li {
  list-style: none;
  align-items: center;
  margin-left: 40px;
}

.header-bottom-nvbar a {
  text-decoration: none;
  color: #cccccc;
  font-size: 16px;
  font-weight: bold;
}
.header-bottom-nvbar a:hover {
  color: gold;
}
.header-bottom-search {
  width: 3%;
}
.header-bottom-cart {
  width: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
.header-bottom-search {
  width: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

/* header */
/* footer */
.footer-wrapper {
  max-width: 1560px;
  margin: auto;
}
.footer-title {
  color: rgb(255, 255, 255);
  font-size: 25px;
}
.footer-customer {
  width: 22%;
}
.footer-customer a {
  text-decoration: none;
  color: #dddddd;
}
.footer-introduction {
  width: 22%;
}
.footer-introduction a {
  text-decoration: none;
  color: #dddddd;
}
.footer-infor {
  width: 22%;
}
.footer-infor a {
  text-decoration: none;
  color: #dddddd;
}
.footer-policy {
  width: 22%;
}
.footer-policy a {
  text-decoration: none;
  color: #dddddd;
}
.footer-qr {
  width: 12%;
}
.footer-qr img {
  width: 100%;
}
pre {
  padding: 40px 0 40px 0;
  color: #cccccc;
}
footer {
  background-color: black;
  height: 100%;
}
.footer-wrapper {
  padding-top: 40px;
}
.footer-content {
  margin-top: 20px;
}
.footer-content p {
  padding-top: 10px;
}
.footer-top {
  display: flex;
  width: 100%;
}
.footer-bottom-icon {
  color: white;
  display: flex;
}
.footer-bottom-icon a {
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.footer-bottom-icon p {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
}

/* footer */
